<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <Nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){%>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                        <% } else {%> 
                         <li><a href="#"> <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                          </svg> <%= currentUser.username %> </a></li>   
                        <li><a href="/logout">Logout</a></li>
                        <% } %> 
                    </ul>
                </div>
            </div>
        </Nav>

        <div class="container">
            <% if(error && error.length>0){ %> 
            <div class="alert alert-danger" role="alert">
                <h1><%=error%></h1>
                </div>
            <% } %>  
            <% if(success && success.length>0){ %> 
             <div class="alert alert-success" role="alert">
                <h1><%=success%></h1>
             </div>
             <% } %> 
        </div>
        